.navbar {
    width: 100%;
    background: $light;

    .logo-container {
        min-width: 120px;
        max-width: 160px;

    }

    .hamburger-menu {
        color: $dark;
        font-size: 2em;
    }

    .nav-item--user {
        color: $main-color;
    }

    .dropdown-menu {

        background-color: transparent;
        border:none;


        @include responsive($tablet) {
            background-color: #F7F6F6;
            filter: drop-shadow(0px 1px 2px #ccc);
        }

        .dropdown-item {

            &.active,
            &:active,
            &:hover,
            &:focus {
                color: $main-color;
                background-color: transparent;
            }
        }
    }
}


// Avatar visibility
.navbar-nav {

    @include responsive($tablet) {
        @include flex(row, center, center);      
    }

    .nav-item.dropdown {
        
        .nav-item--user {
            
            @include responsive($tablet) {
                @include flex(row, center, center);
                
            }
            
            &--avatar {
                display: none;

                @include responsive($tablet) {
                    display: block;
                    margin-right: 10px;
                }

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid $main-color;   
                }
            }
        }
    }
}

// Login Icon
.login-icon {
    font-size: 1.1rem;
}