// Commons

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: $dark;

    @include flex(column, flex-start, center);
}

#app {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
}

button:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.button {

    &-main {
        @include button($main-color);
    }

    &-light {
        @include button($light-accent);
    }
    &-dark {
        @include button($dark-accent);
    }
    &-shadow {
        @include button($shadow);
    }

}